.auth-container {
  width: 350px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;

  input {
    padding: 10px;
  }
  button {
    padding: 10px;
    cursor: pointer;
  }
  .error {
    color: red;
  }
}
